.editblog {
    max-width: 400px;
    margin: 150px 500px;
    padding: 30px;
    display: flex;
    color: #ced0d4;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.text {
    padding: 20px;
    margin-bottom: 10px;
    width: 250px;
}
.submit-btn {
    font-size: large;
    width: 150px;
    justify-content: center;
}